// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  // border: 0.1rem solid black;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}
.container {
  width: 65rem;
  margin: 0 auto;
}
