// apply a natural box layout model to all elements, but allowing components to change

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  // border: 0.1rem solid black;
  &:after,
  &:before {
    box-sizing: inherit;
  }
}

.container {
  width: 45rem;
  margin: 0 auto;
}
