// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'layout';
@import 'main-form';


.main__characters {
  display: flex;
  // flex-grow: 1;
}

.main__card {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  flex-grow: 1;
  width: calc(100% / 4 - 1rem);
  margin: 1rem;
  // object-fit: contain;
}

.main__card-img {
  & img {
    width: 100%;
    // width: 3rem;
  }
}

.main__card .characters-class {
  flex-basis: calc(100% / 4 - 1rem);
  flex-grow: 1;
}
