// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'layout';

.main__characters {
  display: flex;
}

.main__card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  // object-fit: contain;
}

.main__card-img {
  & img{

    width: 3rem;
  }
}

.main__card .characters-class {
  flex-basis: calc(100% / 4 - 1rem)
}
