.characters {
  min-width: 10rem;

  &__card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    &-ind {
      flex-basis: calc(100% / 4 - 2rem);
      min-width: 5rem;
      margin: 1rem;
    }

    &-title {
      // object-fit: contain;
      // flex-direction: 4rem;

    }
  }
}
