.full-page {
  height: 100vh;
}

.nav {
  padding: 0 1rem;
  background: $c-primary;
  color: $c-white;
  font-size: 1.5rem;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__search {
    // margin-right: 2rem;
  }
}

.section {
  padding: 1rem;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  &__ind {
    flex-basis: calc(100% / 4 - 1rem - 1rem);
    flex-grow: 1;

    margin: 1rem;
  }
}
