.full-page {
  height: 100vh;
}

.nav {
  padding: 0 1rem;
  background: $c-primary;
  color: $c-white;
  font-size: 1.5rem;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    margin-top: 1.5rem;
    padding: 0.2rem;
    outline: 0;
    font-size: 0.8rem;
    line-height: 1em;

    &:active {
      outline: 0;
    }
  }
}

.section {
  padding: 1rem;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  margin-bottom: 1rem;

  &__ind {
    flex-basis: calc(100% / 4 - 1rem - 1rem);
    flex-grow: 1;

    margin: 1rem;

    &--left {
      flex-basis: calc(30% - 1rem - 1rem);
    }

    &--right {
      flex-basis: calc(70% - 1rem - 1rem);
    }
  }
}

@media (max-width: 700px) {
  .grid {
    flex-direction: column;
  }
}
