.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: blue;

  &__title {
    display: inline;
    width: 10%;
  }

  &__box {
    display: inline;
    width: 20%;
  }
}

.container {
  width: 65rem;
  margin: 0 auto;
}

.main {
  display: flex;
  // justify-content: space-between;
  // flex-direction: row;
  // max-width: 100%;

  &__left {
    width: calc(30% - 3rem);
    // flex-grow: 1;
    margin: 1rem;
    background: green;

}

  &__right {
    display: flex;
    flex-direction: column;
    width: calc(68% - 3rem);
    // flex-grow: 1;
    margin: 1rem;
    background: yellow;
}
}
