body {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid $c-border;
  color: $c-primary;
  font-size: 1.5rem;
  line-height: 1em;
}

p {
  color: $c-primary;
}
