body {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

img {
  max-width: 100%;
  border-radius: 0.4rem;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}
