.series {
  min-width: 8rem;

  &__text {
    &-title {
      color: $c-primary;
      font-family: sans-serif;
      font-weight: lighter;
    }

    &-date {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-family: sans-serif;
      font-size: 1rem;
    }

    &-creatortitle {
      border-bottom: 0.1rem solid $c-border;
    }

    &-listitem {
      font-family: sans-serif;
      // font-weight: lighter;
      font-size: 0.8rem;
    }
  }
}
